body{

    background-color: rgb(236, 236, 236);

}

/* color */
:root{

    --main:rgb(139, 0 , 0);
    --secondary:rgb(198, 127, 127);
    --accent:rgb(236, 236, 236);
    
}

.color-main{

    color: var(--main);

}

.bg-main{

    background-color: var(--main);

}

.color-accent{

    color: var(--accent);

}

.bg-accent{

    background-color: var(--accent);

}

/* font */
h1, h2, h3, h4, h5, h6, p, a, .h1, .h2, .h3, .h4, .h5, .h6{

    font-family: 'Rajdhani', sans-serif;

}

.font-square{

    font-family: 'Nova Square', cursive;

}


.logo{

    width: 250px;

}

/* header */
.bg-sovrapposition{

    height: 400px;
    background: url('./media/mountains2.png'), linear-gradient(to top, rgba(0, 0, 0, 0), rgba(236,236,236,1)), url('./media/switzerland-862870_1920.jpg');
    background-repeat: no-repeat;
    background-size: contain, cover, cover;
    background-position: bottom left, center, center;

}

.title{

    font-size: 50px;
    letter-spacing: 20px;
    color: var(--main);

}

/* sect 1 */
.sect1{

    margin-left: 20vw;
    width: 60vw;
    font-size: 20px;
    font-style: italic;

}

/* sect 2 */

.p-sect-2{

    border-bottom: 2px solid darkred; 
    
}
    
.pseudo-bot{
    
    position: relative;

}
    
.pseudo-bot::after{
    
    content: "";
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 2px solid var(--main);
    position: absolute;
    background-color: rgb(236, 236, 236);
    top: 68px;
    left: 46%;
    
}

/* sect 4 */

.box-4sect{

    height: 480px;
    background-image: url('./media/trees2.png');

}

.btn-danger{

height: 40px;
width: 170px;
background-color: rgb(139, 0 , 0);
border-radius: 0%;
margin-bottom: 150px;

}

/* timeline */
.bg-timeline{

    background-image: url('./media/single.png');
    background-repeat: no-repeat;
    background-position: bottom right;

}

.lead{

    font-size: 30px;

}

.p-timeline{

    border-left: 2px solid darkred; 

}

.pseudo-left{

    position: relative;

}

.pseudo-left::after{

    content: "";
    height: 18px;
    width: 18px;
    border-radius: 50%;
    border: 2px solid var(--main);
    position: absolute;
    background-color: white;
    left: -22px;

}

/* team */

.img-team{

    border-radius: 50%;
    border: 5px solid var(--main);
    padding: 10px;
    margin-bottom: 10px;

}

/* benefit */
.text-benefit{

    padding-top: 100px;

}

/* footer */
footer{

    min-height: 200px;

}